* {
   padding: 0;
   margin: 0;
   font: 600 16px Inter;

}

body {
   width: 1360px;
   margin: 0 auto;
   background: rgba(225, 212, 201, 1);
}

header {
   display: flex;
   color: rgba(64, 63, 61, 1);
   justify-content: space-between;
   align-items: center;
}

header .links {
   display: flex;
   gap: 40px;
}
header a{
   text-decoration: none;
   color:rgba(64, 63, 61, 1);
}
header .link_menu {
   display: flex;
   gap: 8px
}
header .link_menu:hover {
   border-bottom: 2px solid black;
}

header .link_menu img {
   width: 20px;
   height: 20px;
}

header .logo_wrapper img {
   width: 100px;
   height: 60px;
}

main .enjoy {
   display: flex;
   flex-direction: column;
   gap: 40px;
   background-image: url(../images/img-hero.svg);
   width: 1260px;
   height: 644px;
   border-radius: 40px;
   margin-top: 20px;
   padding-top: 100px;
   padding-left: 100px;
}

main .enjoy span {
   font-size: 72px;
   color: rgba(176, 144, 122, 1);
   font-style: italic;
}

main .enjoy h1 {
   font-size: 72px;
   color: rgba(225, 212, 201, 1);
}

main .enjoy p {
   color: rgba(225, 212, 201, 1);
   font-weight: 400;
   width: 530px;
   height: 44px;
}

main .enjoy button {
   background: rgba(225, 212, 201, 1);
   width: 200px;
   height: 64px;
   border-radius: 100px;
   color: rgba(64, 63, 61, 1);
   position: relative;

}
main .enjoy button:hover::after{
   content:url(../images/coffee-cup.svg);
   position: absolute;
   right:52px;
   top:20px;
}

main .fav_cof {
   margin-top: 100px;
   display: flex;
   flex-direction: column;
   align-items: center;
}

main .fav_cof .middle {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 100%;
   gap: 40px;
}

main .fav_cof .drink {
   width: 1152px;
   display: flex;
   flex-direction: column;
   align-items: center;
}

main .fav_cof .drink .text {
   width: 480px;
   text-align: center;
   margin-bottom: 16px;
   color: rgba(64, 63, 61, 1);

}

main .fav_cof .drink .h2 {
   width: 480px;
   text-align: center;
   margin-top: 20px;
   font-size: 24px;
}

main .fav_cof .drink p {
   font-weight: 400;
}

main .fav_cof .drink .cost {
   font-size: 24px;
}

main .fav_cof .first {
   font-size: 60px;
   color: rgba(64, 63, 61, 1);
}

main .fav_cof .first span {
   font-size: 60px;
   color: rgba(176, 144, 122, 1);

   font-style: italic;
}

main .littleboxes {
   width: 40px;
   height: 4px;
   border-radius: 100px;
   background: rgba(102, 95, 85, 1);
   margin-bottom: 100px;
}

main .littleboxes2 {
   width: 40px;
   height: 4px;
   border-radius: 100px;
   background: rgba(193, 182, 173, 1);
   margin-bottom: 100px;
}

main .drop {
   display: flex;
   justify-content: center;
   gap: 12px;
}

main .news {
   margin-bottom: 100px;
   width: 1360px;
   height: 1325px;
}

main .news h1 {
   font-size: 60px;
   color: rgba(64, 63, 61, 1);
   margin-bottom: 40px;
}

main .news span {
   font-size: 60px;
   color: rgba(176, 144, 122, 1);
   font-style: italic;
}

main .news .left {
   display: flex;
   flex-direction: column;
   gap: 40px;
   width: 660px;
   height: 430px;
}

main .news .right {
   display: flex;
   flex-direction: column;
   gap: 40px;
   width: 660px;
   height: 430px;
}

main .news .photos {
   display: flex;
   justify-content: space-between;
}

main .news .photos .borders {
   border-radius: 20px;
}

main .download h3 {
   padding-top: 144px;
   font-size: 60px;
   color: rgba(64, 63, 61, 1);
}

main .download {
   display: flex;
   justify-content: space-between;
}

main .download span {
   font-size: 60px;
   font-style: italic;
   color: rgba(176, 144, 122, 1);

}

main .download .left .par {
   padding-top: 40px;
   font-weight: 400;
   color: rgba(64, 63, 61, 1);

}

main .download .left {
   width: 630px;
   height: 342px;
}

main .download .left .buttonsinstall {
   width: 630px;
   height: 342px;
   margin-top: 40px;
}

main .download .left .buttonsinstall button {
   border-radius: 100px;
   width: 200px;
   height: 64px;
   border: 1px solid rgba(102, 95, 85, 1);
}

main .download .left .buttonsinstall .google {
   border-radius: 100px;
   width: 200px;
   height: 64px;
   transition: .1s;
}

main .download .left .buttonsinstall .right {
   width: 630px;
   height: 630px;
   margin-top: 40px;
}

footer {
   display: flex;
   flex-direction: row;
   gap: 100px;
   width: 1, 360px;
   height: 450px;
   margin-top: 100px;
   border-radius: 40px;
   background: rgba(102, 95, 85, 1);
   margin-bottom: 50px;

}

footer .left h1 {
   font-size: 60px;
   color: rgba(225, 212, 201, 1);
   padding-left: 100px;
   padding-top: 100px;
   width: 530px;
   height: 150px;
}

footer .left span {
   font-size: 60px;
   color: rgba(176, 144, 122, 1);

   font-style: italic;
   padding-top: 100px;
   width: 530px;
   height: 150px;
}

footer .left .images {
   display: flex;
   flex-direction: row;
   gap:12px;
   padding-left: 100px;
   padding-top: 40px;
   width: 530px;
   height: 150px;
}
footer .left .images img{
   width: 60px;
   height:60px;
}
.buttonsinstall{
   display: flex;
   flex-direction: row;
   gap:20px;
}
footer .right{
   padding-top: 132px;
}
footer .right .contact{
   font-size: 24px;
   color:rgba(225, 212, 201, 1);
}
.footer .right .images .double img{
   width: 20px;
   height: 20px;
}
.double{
   display: flex;
   flex-direction: row;
   gap: 8px;
   padding-bottom:5px;
}
.double:hover{
   border-bottom: 2px solid rgba(225, 212, 201, 1);
}
.f{
   width:182px;
}
 .s{
   width:175px;
}
 .t{
   width:262px;
}
footer .right .images{
   display: flex;
   flex-direction: column;
   gap: 20px;
   margin-top: 40px;
}
footer .right p{
   color:rgba(225, 212, 201, 1);
}

.apple {
   display: flex;
   flex-direction: row;
   align-items: center;
   padding-left: 20px;
   gap: 8px;
}

.apple .img {
   background: url("../images/apple.svg") no-repeat;

   width: 36px;
   height: 36px;
}

.apple .text {
   display: flex;
   flex-direction: column;
   align-items: start;
   justify-content: start;
   gap: 2px;
}

.apple .text p:first-child {
   font-size: 10px;
}

.apple:hover {
   background-color: rgba(102, 95, 85, 1);

   & .img {
      background: url("../images/apple\)\).svg") no-repeat;
   }
   & .text p{
      color:rgba(225, 212, 201, 1);
   }
}

.google {
   display: flex;
   flex-direction: row;
   align-items: center;
   padding-left: 20px;
   gap: 8px;
}

.google .img {
   background: url("../images/play.svg") no-repeat;

   width: 36px;
   height: 36px;
}

.google .text {
   display: flex;
   flex-direction: column;
   align-items: start;
   justify-content: start;
   gap: 2px;
}

.google .text p:first-child {
   font-size: 10px;
}

.google:hover {
   background-color: rgba(102, 95, 85, 1);

   & .img {
      background: url("../images/darkplay.svg") no-repeat;
   }
   & .text p{
      color:rgba(225, 212, 201, 1);
   }
}
 .middle button{
   width: 60px;
height: 60px;
border-radius: 100px;
border: 1px;
background: none;
 }
.arrowleft{
   background-image: url("../images/button-icon-darkleft.svg");
   width: 60px;
height: 60px;
border-radius: 100px;
border: 1px;
}
.arrowleft:hover{
   background-image: url("../images/State=hover\ \(2\).svg");
   transform: scale(-1,1);
}

.arrowright{
   background-image: url("../images/button-icon-dark\ \(1\).svg");
   width: 60px;
height: 60px;
border-radius: 100px;
border: 1px;
}
.arrowright:hover{
   background-image: url("../images/State=hover\ \(2\).svg");
}